/*font-family: 'Great Vibes', cursive;
font-family: 'Inspiration', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Merriweather', serif;
font-family: 'Major Mono Display', monospace;
font-family: 'Roboto Mono', monospace;
*/
body{
    font-family: sans-serif, 'Courier New', Courier, monospace;
    color: black;
    /*background: rgb(255,153,204);
    background: linear-gradient(90deg, rgb(247, 130, 200) 0%, rgba(255,255,255,1) 100%);

background: rgb(255,153,204);
background: linear-gradient(90deg, rgba(255,153,204,1) 0%, rgba(132,234,246,1) 32%, rgba(247,117,220,1) 65%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
*/
background: rgb(253,97,190);
background: -moz-linear-gradient(90deg, rgba(253,97,190,1) 0%, rgba(83,244,183,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(253,97,190,1) 0%, rgba(83,244,183,1) 100%);
background: linear-gradient(90deg, rgba(253,97,190,1) 0%, rgba(83,244,183,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd61be",endColorstr="#53f4b7",GradientType=1);
}
.rocket{
    border: 0px;
    box-shadow: none;
}
.preloader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(199, 197, 197, 0.753);
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.preloader-finish{
    opacity: 0;
    pointer-events: none;
}
.preloader h4{
    top: 75%;
    font-size: 25px;
}

.nav-bar > h1{
    font-family: 'Merriweather', serif;
    /* color: blue; */
    background: -webkit-linear-gradient(rgb(209, 59, 247), rgb(83, 38, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
}
.logo{
    height: 100px;
    border-radius: 50% ;
}
.img1{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    
    /*color: rgb(150, 55, 150);*/
    color: rgb(0, 0, 0);
    background: rgb(76,156,251);
    background: linear-gradient(90deg, rgba(76,156,251,0.40372122970281865) 0%, rgba(255,78,156,0.40372122970281865) 100%);
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.img2{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallerytxt{
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    margin-top: 5%;
    padding-left: 5%;
}

  .secondpage{
      margin: 30px;
      text-align: center;
  }
  .secondpage > h1{
      display: inline;
      
  }
  .secondpage > p{
    font-family: 'Major Mono Display', monospace;
    display: inline;
    vertical-align: top;
  }
  .spacediv1{
    height: 700px;
}
.spacediv{
    height: 700px;
}
#socialicon{
    border: 0px;
    height: 80px;
    display: inline-block;
    column-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact{
    background: rgb(76,156,251);
    background: linear-gradient(90deg, rgba(76,156,251,1) 0%, rgba(255,78,156,1) 100%);
     text-align: center; 
  }
  .contact >h2{
      text-align: center;
  }
  .contact > a{
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 26px;
  }

.ptag2{
    position: absolute;
    text-align: center;
   
}