.preloader{
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(199, 197, 197, 0.753);
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.preloader-finish{
    opacity: 0;
    pointer-events: none;
}
.preloader h4{
    top: 75%;
    font-size: 25px;
}
