.centered2 {
  padding: 4px;
  background-color: #000;
  text-align: center;
  color: rgb(247, 102, 227);
  /*color: rgb(150, 55, 150);*/
  font-size: 20px;
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .ul1 {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 .ul2 {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: -950px;
 }
 li{
  border: solid dotted green;
  position: absolute;
  margin-left: auto;
  margin-right: 20%;
  margin-top: 3%;
 }
 img{
   border: 1px solid #000;
   border-radius: 6px;
   box-shadow: 0 0 5px 0 hsla(0,0%,30%, .3);
 }
 li:nth-child(12) {
   animation: xfade 20s 0s infinite;
 }
 li:nth-child(11) {
   animation: xfade 20s 3s infinite;
 }
 li:nth-child(10) {
   animation: xfade 20s 6s infinite;
 }
 li:nth-child(9) {
   animation: xfade 20s 9s infinite;
 }
 li:nth-child(8) {
   animation: xfade 20s 12s infinite;
 }
 li:nth-child(7) {
   animation: xfade 20s 15s infinite;
 }
 li:nth-child(6) {
   animation: xfade 20s 0s infinite;
 }
 li:nth-child(5) {
   animation: xfade 20s 3s infinite;
 }
 li:nth-child(4) {
   animation: xfade 20s 6s infinite;
 }
 li:nth-child(3) {
   animation: xfade 20s 9s infinite;
 }
 li:nth-child(2) {
   animation: xfade 20s 12s infinite;
 }
 li:nth-child(1) {
   animation: xfade 20s 15s infinite;
 }
 @keyframes xfade{
   17% {
     opacity:1;
   }
   25% {
     opacity:0;
   }
   
   92% {
     opacity:0;
   }
 }